h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form{
    display: block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
label{
    display: block;
    margin-top: 1rem;
}

select{
    font-size: 1.4rem;
}

form input{
    display: block;
    flex-direction: column;
    width: 22rem;
    font-size: 15px;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    padding: .5rem .5rem;
}